@import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Varela Round', sans-serif;
  
}
.container{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.msg{
 font-size: 3rem;
}
.noEvents {
  pointer-events: none;
}
.game-field{
  margin-top: 29px;
  width: 50%;
  height: 75vh;
  background: url('/ttt.png') center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 36.8% 27.8% 35.3%;
  grid-template-rows: 1fr 1fr 1fr;
  
}
.field {
  width: 90%;
  height: 85%;
  margin: 0;
  z-index: 1;
  font-size: 8rem;
  text-align: center;
  place-self: center;
  }
.restart {
  padding: 10px;
  font-size: 2rem;
  background: cornflowerblue;
  border-radius: 10px;
}
.restart:hover {
  background: black;
  color: cornflowerblue;
}
.initial-input{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90%;
  background-color: rgba(170, 168, 168, 0.88);
  border-radius: 30px;
  box-shadow: 0 5px 5px rgba(3, 3, 3, 0.38);
  padding: 3rem;
}
.mode-screen, .difficulty-screen, .symbol-screen {
  position: fixed;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  text-align: center;
  transition: all 0.5s ease;
  display: none;
}
.hide {
  visibility: hidden;
}
.initial-input h1 {
  margin-bottom: 20px;
}
.initial-input button {
  transition: all 0.6s ease;
  border: none;
  padding: 30px;
  font-size: 4rem;
  background: transparent;
}
.initial-input button:hover {
  color: red;
  cursor: pointer;
}
.initial-input symbol-screen h2 {
  display: inline-block;
}
